<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdGBE5fKVN83qS5BRbtiBrM4ZWoEt3_Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>235794776312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etrick</string>
	<key>PROJECT_ID</key>
	<string>etrick-99a39</string>
	<key>STORAGE_BUCKET</key>
	<string>etrick-99a39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235794776312:ios:9bf6ec0eb4ced4352b7b0d</string>
</dict>
</plist>